@import "tailwindcss";

:root {
    --primary-100: #ffb9aa;
    --primary-200: #ff9682;
    --primary-300: #f75a48;
    --primary-400: #f24136;
    --primary-500: #ec1c24;
    --primary-600: #be201f;
    --primary-700: #91201a;
    --primary-800: #671c15;
    --primary-900: #3f1610;

    --poppins: "Poppins";
    --urbanist: "Urbanist";
}

@theme inline {
    --color-primary-200: #ff9682;
    --color-primary-100: #ffb9aa;
    --color-primary-300: #f75a48;
    --color-primary-400: #f24136;
    --color-primary-500: #ec1c24;
    --color-primary-600: #be201f;
    --color-primary-700: #91201a;
    --color-primary-800: #671c15;
    --color-primary-900: #3f1610;

    --font-poppins: var(--poppins);
    --font-poppins: var(--urbanist);
}
